body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
    font-size: 15px;
    
}
article{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
section{
    width: 13rem; height: 25rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section h1{
    margin: 0;
    color: hsl(0, 0%, 95%);
    font-size: 2.75em;
    font-weight: 700;
    font-family: "Big Shoulders Display";
}
section p{
    color: hsla(0, 0%, 100%, 0.75);
    min-height: 10rem;
    line-height: 1.5rem;
    font-weight: 400;
}
section a{
    height: 3rem; width: 9rem;
    border-radius: 100rem;
    border: none;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
    
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    -ms-border-radius: 100rem;
    -o-border-radius: 100rem;
}
a:hover{
    background-color: hsl(0, 0%, 80%);
}
.sedans{
    background-color:hsl(31, 77%, 52%);
}
.sedans a{
    color: hsl(31, 77%, 52%);
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.suvs a{
    color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);
}
.luxury a{
    color: hsl(179, 100%, 13%);
}
.attribution { color: black; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }